#bodystyle{
	/* e */
	padding : 0;
    margin : 0;
	/*j*/
    background-repeat: no-repeat;
    background-size:cover;
    color: rgb(39, 56, 104);
}

#j_wrap {
    text-align: center;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
}

#j_box{
    display: inline-block;
    width: 1100px;
    background-color: rgb(228, 234, 253);
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 20px;
}

.e_div {
	display:flex;
	text-align: left;
}

/* 왼쪽 카데고리 */
.e_nav {
	cursor: pointer;
	width:250px;
	background-color: lightgray;
}

.e_nav_all, .e_nav_question {
	padding: 15px 0px 15px 20px;
	background-color: darkgray;
	border-bottom: 1.5px solid gray;
}

.e_nav_onebyone {
	padding: 5px 0px 5px 20px;
	display: flex;
	align-items: center;
	background-color: gray;
	color: white;
}

.e_nav_onebyone img {
	width: 40px;
	height: 40px;
	float: left;
	padding-left: 45px;
}

/* 오른쪽 카데고리 */
/* 상단 */
.e_right {
	width: 100%;
}

.e_hd_top {
	font-size: 13px;
	padding: 25px 30px 30px 0px;
	text-align: right;
}

.e_hd_top_title {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 30px;
	margin: 0px 50px 50px 50px;
	border-bottom: 1px solid gray;
}

/* 카데고리별 */
.e_content, .e_content_choice {
	padding-left: 50px;
	padding-right: 50px;	
}

.e_content div {
	display: flex;
}

/* 글쓰기 */
.e_ti_title, .e_cont_title, .e_file_title {
	font-weight: bold;
	background-color: lightgray;
}

.e_con_title {
	border-top: 1px solid gray;
}

/* 글쓰기 제목 */
.e_ti_title {
	padding: 10px 100px 10px 15px;
} 

.e_cont_title {
	padding: 10px 100px 400px 15px;
}

.e_file_title {
	width: 100px;
	padding: 10px 32px 15px 15px;
}

/* 글쓰기 내용 */
.e_ti_detail, .e_cont_detail, .e_file_detail, .file_group {
	background-color: white;
	width:633px;
}

.e_ti_detail {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.e_cont_detail {
	padding-left: 15px;
	padding-top: 10px;
}

.e_file_detail, .file_group {
	padding-left: 15px;
	padding-top: 10px;
}

.e_con_content {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.e_con_file_upload {
	border-bottom: 1px solid gray;
}

/* 글쓰기 내용 - input */
#e_ti_detail_input,
#e_cont_detail_input {
	width: 610px;
	border: none;
	outline: 0;
}

#e_cont_detail_input {
	resize: none;
	height: 400px;
}

/* 파일 업로드 */
.e_con_file_upload div {
	display: block;
}

.file_group div p {
	font-weight: bold;
}

.file_group div {
	font-size: 13px;
	display: flex;
	align-items: center;
}

.file_group div a {
	font-size: 10px;
	padding: 3px;
	margin-left: 7px;
	border-radius: 12px;
	border: 1.5px solid red;
	
}

/* 첨부파일 */
.e_file_btn {
	font-weight: bold;
	font-size: 13px;
	padding: 10px;
	border: none;
	border-radius: 2px;
	color: white;
	background-color: gray;
}

/* 글쓰기 버튼 */
.e_button {
	margin-top: 60px;
	margin-bottom: 100px;
}

.e_btn_fix {
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
}

.e_btn_fix input {
	font-weight: bold;
	font-size: 15px;
	width: 100px;
	padding: 15px;
	border: none;
	color: white;
	background-color: #1649B0;
}