#bodystyle{
	/* e */
	padding : 0;
    margin : 0;
	/*j*/
    background-repeat: no-repeat;
    background-size:cover;
    color: rgb(39, 56, 104);
}

.e_div {
	display:flex;
	text-align: left;
}

#j_wrap {
    text-align: center;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
}

#j_box{
    display: inline-block;
    width: 1100px;
    background-color: rgb(228, 234, 253);
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 20px;

}

/* 왼쪽 카데고리 */
.e_nav {
	cursor: pointer;
	width:250px;
	background-color: lightgray;
}

.e_nav_all, .e_nav_onebyone {
	padding: 15px 0px 15px 20px;
	background-color: darkgray;
	border-bottom: 1.5px solid gray;
}

.e_nav_question {
	padding: 5px 0px 5px 20px;
	display: flex;
	align-items: center;
	background-color: gray;
	color: white;
}

.e_nav_question img {
	width: 40px;
	height: 40px;
	float: left;
	padding-left: 30px;
}

/* 오른쪽 카데고리 */
/* 상단 */
.e_right {
	width: 100%;
}

.e_hd_top {
	font-size: 13px;
	padding: 25px 30px 30px 0px;
	text-align: right;
}

.e_hd_top_que, .e_hd_top_con {
	padding: 0px;
	text-align: center;
}

.e_hd_top_con {
	padding-bottom: 30px;
	font-weight:bold;
	font-size: 13px;
}

.e_hd_top_write, .e_hd_choice, .e_hd_top_write_mylist {
	padding: 0px 0px 30px 50px;
}

.e_hd_top_que {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 15px;
}

/* 글쓰기 등 버튼 */
.e_btn_list {
	margin: 20px 60px 0px 50px;
	display: flex;
	justify-content: right;
}

.e_hd_top_write {
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	padding: 10px 25px 10px 25px;
	color: white;
	background-color: #1649B0;
	border-radius: 5px;
	border: none;
}

.e_hd_top_write_mylist {
	margin-right: 10px;
	font-weight: bold;
	font-size: 15px;
	padding: 10px 25px 10px 25px;
	color: white;
	background-color: gray;
	border-radius: 5px;
	border: none;
}

/* 카데고리 선택 */
.e_hd_choice {
	display: flex;
}

.e_hd_choice div {
	cursor: pointer;
	font-size: 17px;
	background-color: lightgray;
	padding: 20px 132px 20px 132px;
}

#e_choice_mem {
	color: white;
	background-color: gray;
}


/* 카데고리별 */
.e_content {
	margin: 0px 60px 0px 50px;
}

/* 회원정보 관리 */
.blist_title {
	cursor: pointer;
}

.e_boardlist li {
	font-size: 14px;
}

.e_content {
	div > ul {
		display: flex;
		justify-content : space-between;
		border-bottom: 1px solid gray;
		padding: 0;
		margin: 0;
	}

	div > ul:nth-child(1) {
		border-top: 1px solid gray;
		font-weight: bold;
	}

	ul li {
		list-style: none;
		text-align: center;
	}

	ul li:nth-child(1) {
		padding: 10px 5px 10px 15px;
		width: 50px;
	}

	ul:first-child li:nth-child(2) {
		padding: 10px 5px 10px 10px;
		width: 250px;	
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;	
	}

	ul:not(:first-child) li:nth-child(2) {
		text-align: left;
		padding: 10px 5px 10px 10px;
		width: 250px;	
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;	
	}

	ul li:nth-child(3) {
		padding: 10px 5px 10px 10px;
		width: 80px;	
	}

	ul li:nth-child(4) {
		padding: 10px 5px 10px 10px;
		width: 100px;	
		
	}

	ul li:nth-child(5) {
		padding: 10px 15px 10px 5px;
		width: 60px;	
	}
	
	ul li:nth-child(6) {
		padding: 10px 15px 10px 5px;
		width: 60px;	
	}
}

/* ul li 순서 간격넣기 */
.e_content ul li:nth-child(1) {
	padding: 10px 5px 10px 15px;
	width: 50px;
}

.e_content ul:first-child li:nth-child(2) {
	padding: 10px 5px 10px 10px;
	width: 250px;	
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;	
}

/* 페이징 */
.e_paging div {
	cursor: pointer;
}

.e_paging {
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.e_paging div:not(.e_paging_btnright) {
	margin-right: 10px;
}

.e_paging_num {
	display: flex;
}

.e_paging_num {
	a {
		color: black;
		margin-right: 10px;
		background-color: lightgray;	
	}

	a:last-child {
		margin-right: 0px;
	}
}

.e_paging_btnleft, .e_paging_btnright {
	color: white;
	background-color: gray;	
}

.e_paging_btnleft, .e_paging_btnright, .e_paging_num div,
.e_paging_num a {
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	width: 20px;
	text-align:center;
}

#page_NowBno {
	font-weight: bold;
	color:white;
	background-color: #1649B0;
}

/* 검색 */
/* 전체 */
#s_content_btn {
	cursor: pointer;
}

.e_search {
	margin-bottom: 100px;
	justify-content: center;
	display:flex;
}

.e_search div:not(:last-child, .s_content) {
	margin-right: 5px;
}

/* 기간 */
.e_search_time select {
	outline: none;
	border: 1px solid lightgray;
	padding: 10px;
}

/* 타입 */
.e_search_type select {
	outline: none;
	border: 1px solid lightgray;
	padding: 10px;
}

/* 내용 */
.e_search_content {
	display:flex;
}

.e_search_content div input {
	outline: none;
	border: 1px solid lightgray;
	margin-right: 0px;
	padding: 10px;
}

.e_search_content button {
	border: none;
	color: white;
	background-color: gray;
	padding: 0px 15px 0px 15px;
}